Objective:
Determine the 1yr and 7yr survival of prostate cancer patients. Patient survived if they are still still alive after 7years of diagnosis. Patient is counted as dead weather or not the cause of death was due to their cancer. 

Data-set Discription:
‘training_data’ has details of patients, the state of their cancer at time of diagnosis, and some information about the progression of their disease.

In [1]:
import pandas as pd

In [3]:
training = pd.read_csv('training_data.csv')
training.head(5)

,id,diagnosis_date,gleason_score,t_score,n_score,m_score,stage,age,race,height,...,symptoms,rd_thrpy,h_thrpy,chm_thrpy,cry_thrpy,brch_thrpy,rad_rem,multi_thrpy,survival_1_year,survival_7_years
0,1,Jun-05,4.0,T1c,N0,M0,I,86.0,4.0,66.0,...,U03,0,0,1,1,0,1,1,1,0
1,2,Feb-06,8.0,T3a,N1,M0,IV,66.0,2.0,70.0,...,"U06,S07",1,1,1,0,0,0,1,1,0
2,3,Mar-06,9.0,T1a,N0,M0,IIB,84.0,4.0,69.0,...,"U01,U02,U03,S10",1,1,0,0,1,1,1,1,1
3,4,Feb-05,8.0,T2b,N0,M0,IIB,86.0,3.0,69.0,...,"U01,U02,S10,O11",0,0,0,1,0,1,1,0,0
4,5,Dec-01,8.0,T4,N0,M0,IV,78.0,4.0,70.0,...,"U01,U03,U05,S07",1,1,1,0,0,0,1,1,0

In [4]:
training.describe()

,id,gleason_score,age,race,height,weight,family_history,first_degree_history,previous_cancer,smoker,...,tea,rd_thrpy,h_thrpy,chm_thrpy,cry_thrpy,brch_thrpy,rad_rem,multi_thrpy,survival_1_year,survival_7_years
count,15385.000000,15065.000000,14637.000000,15220.000000,14021.000000,14068.000000,13799.000000,13799.000000,13799.000000,13799.000000,...,13799.000000,15385.000000,15385.000000,15385.000000,15385.000000,15385.000000,15385.000000,15385.000000,15385.000000,15385.000000
mean,7693.000000,7.299967,76.901073,3.480486,69.151202,176.800043,0.423871,0.211899,0.068773,0.054932,...,2.552721,0.537472,0.342866,0.663438,0.238869,0.245044,0.174586,0.778616,0.896913,0.432304
std,4441.411281,1.933395,9.617403,0.953454,1.127451,17.211988,0.613645,0.460531,0.253077,0.227855,...,1.618253,0.498610,0.474683,0.472549,0.426406,0.430127,0.379625,0.415192,0.304083,0.495412
min,1.000000,3.000000,32.000000,1.000000,65.000000,118.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3847.000000,6.000000,71.000000,3.000000,68.000000,166.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
50%,7693.000000,7.000000,78.000000,4.000000,69.000000,174.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,11539.000000,9.000000,84.000000,4.000000,70.000000,184.000000,1.000000,0.000000,0.000000,0.000000,...,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,15385.000000,14.000000,107.000000,4.000000,73.000000,343.000000,5.000000,4.000000,1.000000,1.000000,...,12.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000